<% @hello = ["one.jpeg", "two.jpeg", "three.jpeg", "four.jpeg", "five.jpeg", "six.jpeg", "seven.jpeg", "eight.jpeg", "nine.jpeg", "ten.jpeg", "eleven.jpeg", "twelve.jpeg", "thirteen.jpeg", "fourteen.jpeg" ] %>

<div class="who">
    <div class="container">
      <div class="row">
        <% @cocktails.each do |cocktail|  %>
          <% image = asset_url(@hello.sample) %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="<%= 'background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(\'' + image + '\')' %>">
              <div class="card-category"><%= link_to cocktail.bar.name, bar_path(cocktail.bar) %></div>
              <div class="card-description">
                <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
                <p><%= cocktail.catch_phrase %></p>
              </div>
              <div class="card-price">
                <% if cocktail.price < 15 %>
                  <i class="fas fa-dollar-sign"></i>
                <% elsif cocktail.price < 21 %>
                  <i class="fas fa-dollar-sign"></i>
                  <i class="fas fa-dollar-sign"></i>
                <% else %>
                  <i class="fas fa-dollar-sign"></i>
                  <i class="fas fa-dollar-sign"></i>
                  <i class="fas fa-dollar-sign"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end  %>
      </div>
    </div>
</div>
