<div class="who">
  <div class="when">
    <div class="how">
      <ul id="otis">
      <% @bars.each do |bar| %>
        <li>
          <h3>
            <%= link_to bar.name, bar_path(bar) %>
          </h3>
        </li>
        <% end %>
        <li>
          <h4>
            <%= link_to "Add Bar", new_bar_path %>
          </h4>
        </li>
      </ul>
    </div>
  </div>
</div>
