<div class="who">
  <div class="when">
    <div class="how">
      <ul id="otis">
        <h1>Melbourne Bars</h1>
      <% @bars.each do |bar| %>
        <li>
          <h3>
            <%= link_to bar.name, bar_path(bar) %>
          </h3>
          <ul id="otis">
            <% bar.cocktails.each do |cocktail|  %>
            <li>
              <p> <%= link_to cocktail.name, cocktail_path(cocktail) %></p>
            </li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <li>
          <h4>
            <%= link_to "Add Bar", new_bar_path %>
            <%= link_to "Return Back", cocktails_path %>
          </h4>
        </li>
      </ul>
    </div>
  </div>
</div>
