// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


.who {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('https://source.unsplash.com/random');
  background-size: cover;
}

.when {
  background-color: rgba(220, 220, 220, .6  );
}
