// Place all the styles related to the Bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h4 img {
  border-radius: 50%;
}

.mbars h1 {
  size: 20px
}

h1 {
  font-family: 'Ranga', cursive;
}
