<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to cocktails_path do%>
    <i class="fas fa-cocktail fa-2x"></i>
  <% end %>

  <h2>Melbourne's Bespoke Cocktails</h2>


  <%= link_to doses_path do%>
    <i class="fas fa-eye-dropper fa-2x"></i>
  <% end %>

</div>




